/**
 * okaidia theme structure for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 * modified colors to the catppuccin palette
 */

 /* Colors */
 :root,
 ::backdrop {
    --pre-color: #eff1f5;
    --pre-bg: #303446;
    --pre-span: #e78284;
    --comments: #939ab7;
    --punctuation: #eff1f5;
    --tags: #e78284;
    --numbers: #ca9ee6;
    --selector: #a6d189;
    --variable: #eff1f5;
    --class-name: #e5c890;
    --keyword: #99d1db;
    --important: #ef9f76;
 }
 /* Dark mode */
 @media (prefers-color-scheme: dark) {
    :root,
    ::backdrop {
        --pre-color: #232634;
        --pre-bg: #dce0e8;
        --pre-span: #d20f39;
        --comments: #7c7f93;
        --punctuation: #303446;
        --tags: #d20f39;
        --numbers: #8839ef;
        --selector: #40a02b;
        --variable: #303446;
        --class-name: #df8e1d;
        --keyword: #04a5e5;
        --important: #fe640b;
    }
 }

 code[class*="language-"],
 pre[class*="language-"] {
     color: var(--pre-color);
     background: none;
     text-shadow: 0 1px rgba(0, 0, 0, 0.3);
     font-size: 1em;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
     border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: var(--pre-bg);
 }

 pre span {
    color: var(--pre-span);
 }

 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: var(--comments);
 }
 
 .token.punctuation {
     color: var(--punctuation);
 }
 
 .token.namespace {
     opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: var(--tags);
 }
 
 .token.boolean,
 .token.number {
     color: var(--numbers);
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: var(--selector);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: var(--variable);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
     color: var(--class-name);
 }
 
 .token.keyword {
     color: var(--keyword);
 }
 
 .token.regex,
 .token.important {
     color: var(--important);
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 

/*
 * New diff- syntax
 */

 pre[class*="language-diff-"] {
	--eleventy-code-padding: 1.25em;
	padding-left: var(--eleventy-code-padding);
	padding-right: var(--eleventy-code-padding);
}
.token.deleted {
	background-color: hsl(0, 51%, 37%);
	color: inherit;
}
.token.inserted {
	background-color: hsl(126, 31%, 39%);
	color: inherit;
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.token.prefix.inserted,
.token.prefix.deleted {
	width: var(--eleventy-code-padding);
	background-color: rgba(0,0,0,.2);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
	margin-left: calc(-1 * var(--eleventy-code-padding));
	margin-right: calc(-1 * var(--eleventy-code-padding));
	text-decoration: none; /* override del, ins, mark defaults */
	color: inherit; /* override del, ins, mark defaults */
}
