<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="noai, noimageai">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<link rel="canonical" href="{{ metadata.url }}">

		<link rel="icon" href="/img/favicons/favicon.ico" sizes="any">
		<link rel="icon" href="/img/favicons/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">
		<link rel="manifest" href="/img/favicons/site.webmanifest">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#- Add the contents of a file to the bundle #}
		{% set css %}
  			{% include "public/css/index.css" %}
		{% endset %}
		<style>
		  {{ css | cssmin | safe }}
		</style>
		<style>{% getBundle "css" %}</style>
		{# {%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style> #}
		{# <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		{% include "_includes/layouts/header.njk" %}

		<main id="skip">
			{{ content | safe }}
		</main>

		{% include "_includes/layouts/footer.njk" %}
		
	</body>
</html>
