<footer>
    <nav>
        <h2 class="visually-hidden">Bottom level navigation menu</h2>
        <ul class="nav">
        {%- for entry in collections.footer | eleventyNavigation %}
            <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endfor %}
            <li class="nav-item"><a href="/feed/feed.xml">RSS</a></li>
        </ul>
    </nav>
    <div class="visually-hidden"><a rel="me" href="https://archaeo.social/@andreatitolo">Mastodon</a></div>
</footer>