<footer>
    <nav>
        <h2 class="visually-hidden">Bottom level navigation menu</h2>
        <ul class="nav">
            <li class="nav-item"><a href="/now">Now</a></li>
            <li class="nav-item"><a href="/links">Links</a></li>
            <li class="nav-item"><a href="/sitemap.xml">Sitemap</a></li>
            <li class="nav-item"><a href="/uses">Uses</a></li>
            <li class="nav-item"><a href="/credits">Credits</a></li>
            <li class="nav-item"><a href="/tags">Tags</a></li>
            <li class="nav-item"><a href="/feed/feed.xml">RSS</a></li>
        </ul>
    </nav>
    <div class="visually-hidden"><a rel="me" href="https://archaeo.social/@andreatitolo">Mastodon</a></div>
</footer>